* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

/* economy */
#economy .economy_area .eco_box_area .eco_box:nth-child(2) h5,
#economy .economy_area .eco_box_area .eco_box:nth-child(3) h5,
#economy .economy_area .eco_box_area .eco_box:nth-child(4) h5 {
  margin-bottom: 67px;
}

/* mafia */

#mafia .mafia_area .maf_txt p {
  width: 100%;
}

/* roadmap */

.rdmp_cont_box {
  font-size: 0.9em;
  padding: 2% 1.5%;
}



/*데탑*/
@media screen and (max-width:1440px) {

  #economy .economy_area .eco_box_area .eco_box:nth-child(2) h5,
  #economy .economy_area .eco_box_area .eco_box:nth-child(3) h5,
  #economy .economy_area .eco_box_area .eco_box:nth-child(4) h5 {
    margin-bottom: 89px;
  }

  #mafia .mafia_area .maf_txt p {
    width: 62%;
  }

  /*roadmap*/

  .rdmp_content {
    justify-content: space-between;
  }

  .rdmp_cont_box {
    width: 32%;
    font-size: 12px;
  }


}



/*노트북*/
@media screen and (max-width:1024px) {

  #economy .economy_area .eco_box_area .eco_box:nth-child(2) h5,
  #economy .economy_area .eco_box_area .eco_box:nth-child(3) h5,
  #economy .economy_area .eco_box_area .eco_box:nth-child(4) h5 {
    margin-bottom: 79px;
  }

  #mafia .mafia_area .maf_txt p {
    width: 100%;
  }


  /*roadmap*/

  .rdmp_cont_box {
    width: 30%;
    height: 285px;
  }

}



/*아이패드 (768px)*/
@media screen and (max-width:991px) {

  #economy .economy_area .eco_box_area .eco_box:nth-child(2) h5,
  #economy .economy_area .eco_box_area .eco_box:nth-child(3) h5,
  #economy .economy_area .eco_box_area .eco_box:nth-child(4) h5 {
    margin-bottom: 59px;
  }

  /*roadmap*/

  .rdmp_cont_box {
    width: 40%;
    padding: 2%;
    height: 305px;
  }


}



/*모바일*/

@media screen and (max-width:767px) {
     /*roadmap*/

     .rdmp_cont_box {
      width:53%;
      padding: 2.5%;
    }
}


/*모바일2*/


@media screen and (max-width:576px) {

  #economy .economy_area .eco_box_area .eco_box:nth-child(2) h5,
  #economy .economy_area .eco_box_area .eco_box:nth-child(3) h5,
  #economy .economy_area .eco_box_area .eco_box:nth-child(4) h5 {
    margin-bottom: 20px;
  }

  .rdmp_cont_box {
    width: 80%;
    padding: 5%;
  }
}



/*모바일3 갤럭시*/

@media screen and (max-width:425px) {
    /*roadmap*/

    
    #roadmap::after{
      left: -6%;
    }
}



/*모바일4 아이폰*/
@media screen and (max-width:375px) {}