* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}



h3 {
  font-size: 2.5em;
  font-weight: 600;
  margin-bottom: 30px;
  color: #fff;
  text-align: center;
}

h3 span {
  color: #FF002B;
}


/* 기본 배경 색 */
body {
  color: #fff;
  background-color: #09040A;
}


@media (min-width:1521px) {
  .container {
    max-width: 1521px;
  }
}


/* project */
#project {

  text-align: center;
  position: relative;
}
#project::after {
  content: '';
  background: url(../img/project_bg.png)no-repeat;
  width: 400px;
  height: 520px;
  position: absolute;
  top: 0;
  left: 5%;
  background-size: contain;
  z-index: -1;
}

#project .project_area {
  padding: 100px 0;
  position: relative;
}


/* economy */
#economy {
  background: #261F1D;
  position: relative;
  text-align: center;
}

#economy::after {
  content: "";
  background: url(../img/economy_duck.png)no-repeat;
  width: 40%;
  height: 80%;
  position: absolute;
  bottom: 0;
  right: 0;
  background-size: contain;

}

#economy::before {
  content: "";
  background: url(../img/Frame.png)no-repeat;
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: contain;

}

#economy .economy_area {
  padding: 100px 0;
  position: relative;
  z-index: 3;
}

#economy .economy_area h4 {
  margin: -30px 0 80px 0;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.3rem;
  font-weight: 100;
}

#economy .economy_area .eco_box_area {
  display: flex;
  justify-content: space-between
}

#economy .economy_area .eco_box_area .eco_box {
  width: 22%;
  background: rgba(82, 7, 7, 0.5);
  border: 1px solid #FF002B;
  backdrop-filter: blur(1px);
  padding: 30px;
}

#economy .economy_area .eco_box_area .eco_box h5 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 20px;
}

#economy .economy_area .eco_box_area .eco_box:nth-child(2) h5,
#economy .economy_area .eco_box_area .eco_box:nth-child(3) h5,
#economy .economy_area .eco_box_area .eco_box:nth-child(4) h5 {
  margin-bottom: 42px;
}


#economy .economy_area .eco_box_area .eco_box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#economy .economy_area .eco_box_area .eco_box p {
  line-height: 2;
  font-size: 12px;
}


/* mafia */
#mafia {
  position: relative;
  text-align: center;
}

#mafia::after {
  content: '';
  width: 30%;
  height: 30%;
  background: url(../img/mafia_bg.png)no-repeat;
  position: absolute;
  background-size: contain;
  top: 0;
  right: 0;
  z-index: -1;
}

#mafia::before {
  content: '';
  width: 40%;
  height: 50%;
  background: url(../img/mafia_bg.png)no-repeat;
  position: absolute;
  background-size: contain;
  bottom: 0;
  left: 0;
  z-index: -1;
}



#mafia .mafia_area {
  padding: 100px 0;
  position: relative;
}

#mafia .mafia_area .maf_txt p {
  width: 80%;
  margin: 0 auto;
  line-height: 2;
}

#mafia .mafia_area .mafia_box {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#mafia .mafia_area .mafia_box .box_top{
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

#mafia .mafia_area .mafia_box .box_top .flip:nth-child(2) {
  margin: 0 5%
}
#mafia .mafia_area .mafia_box .box_bottom{
  margin-top: 5%;
  display: flex;
  justify-content: center;
}



#mafia .mafia_area .mafia_box .ma_box.flip {
  perspective: 1000px;
}

#mafia .mafia_area .mafia_box .ma_box.flip img{
  max-width: 100%;
}

#mafia .mafia_area .mafia_box .box_bottom .ma_box.flip:nth-child(1){
margin-right: 8%;
}

#mafia .mafia_area .mafia_box .ma_box.flip .ma_box_card {
  width: 100%;
  height: 100%;
  transition: .3s ease-in;
  transform-style: preserve-3d;
  position: relative;
  border: 2px solid #fff;
  background: #2B292A;
}

#mafia .mafia_area .mafia_box .ma_box.flip .ma_box_card .front {
  width: 100%;
  height: 100%;
}

#mafia .mafia_area .mafia_box .ma_box.flip .ma_box_card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  top: 0;
  left: 0;
  background: #2B292A;
  backdrop-filter: blur(1px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  transform: rotateY(180deg);
}

#mafia .mafia_area .mafia_box .ma_box.flip .ma_box_card:hover{
  transform: rotateY(180deg);  
}